################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FN.Store/.vs/FN.Store/v15/Server/sqlite3
